*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(184, 184, 184, 0.712);
}

h1.title{
  display: block;
  text-align: center;
  padding-bottom: 4rem;
  color: #0e193d;
}

.input_C{
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  padding: .7rem 1rem;
  background-color: rgba(29, 68, 153, 0.822);
  border: none;
  border-radius: .5rem;
  caret-color: white;
  color: white;
}


input[type='text']{
  font-size: 1.3rem;
}

.input_C::placeholder{
  color: #ccc;
  font-family: 'Montserrat';
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input_C:focus{
  outline: none !important;
  border: 3px solid #0e193d;
}

button.btn1{
  position: relative;
  color: #0e193d;
  display: block;
  padding: 14px 28px;
  line-height: normal;
  border: 3px solid #0e193d;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: calc(15px - (14px - 12px));
  text-align: center;
  letter-spacing: .2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 1em;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}




button > span {
  position: absolute;
  width: 25%;
  height: 400%;
  background-color: #0e193d;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

button:hover {
  color: white;
}

button:hover span {
  transform: translateY(0) scale(2);
}

button > span:nth-child(1) {
  --n: 1;
}

button > span:nth-child(2) {
  --n: 2;
}

button > span:nth-child(3) {
  --n: 3;
}

button > span:nth-child(4) {
  --n: 4;
}

.input-search{
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 21.5rem;
  width: 50rem;
  padding: .7rem 1rem;
  background-color: transparent;
  border: 3px solid #0e193d;
  border-radius: .5rem;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.input-search::placeholder{
  color: #0e193d;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-search:focus{
  outline: none !important;
  border: 3px solid #0e193d;
}

.input-search::placeholder{
  text-align: center;
}



button.btn-sort{
  position: relative;
  color: #0e193d;
  display: inline-block;
  padding: 1rem 1rem;
  line-height: normal;
  border: 3px solid #0e193d;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: calc(15px - (14px - 12px));
  text-align: center;
  letter-spacing: .2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 69.5em;
  width: 15rem;
}

button.btn-sort > span{
  position: absolute;
  width: 25%;
  height: 400%;
  background-color: #0e193d;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

button.btn-sort:hover{
  color: white;
}

button.btn-sort:hover span {
  transform: translateY(0) scale(2);
}

button.btn-sort > span:nth-child(1) {
  --n: 1;
}

button.btn-sort > span:nth-child(2) {
  --n: 2;
}

button.btn-sort > span:nth-child(3) {
  --n: 3;
}

button.btn-sort > span:nth-child(4) {
  --n: 4;
}

li{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  border: 3px solid #0e193d;
  margin: 2rem auto 1rem auto;
  width: 50rem;
  border-radius: .5rem;
}

li > button.btn-delete{
  position: relative;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(206, 0, 0);
  color: white;
  margin-bottom: .5rem;
}

b{
  cursor: pointer;

}

p.info1{
  display: block;
  padding-top: 1.5rem;
  padding-bottom: .3rem;
}

p.info2{
  display: block;
  padding-bottom: 1.5rem;
}
.CL{
  display: flex;
  flex-direction: column;
}
